/source/aws_component_summit.4dbase/aws_component_summit.4DD
/source/aws_component_summit.4dbase/aws_component_summit.journal
/source/aws_component_summit.4dbase/Logs
/source/aws_component_summit.4dbase/Preferences
/test/aws_demo/aws_demo.4DD
/test/aws_demo/aws_demo.4DIndx
/test/aws_demo/Resources/ffmpeg/win/win64/ffmpeg-20160428-git-78baa45-win64-static.7z
/test/aws_demo/Resources/ffmpeg/win/win32/ffmpeg-20160428-git-78baa45-win32-static.7z
